h2{
  color: red;
 font-family: monospace;
}
p{
  color: grey;
  font-size: 30px;
}
#conteiner{
  text-align: center;
}
#form{
margin-left: 180px;
padding: 50px;
border: 3px solid deeppink;
width: 70%;
}
*{
  font-family: monospace;
}
#cabezera{
  text-align: center;
  padding-bottom: 50px;
  font-size: 80;
  color: blue;
  border-color: black;

}
